@page
@{
}

<div class="content">
    <div class="grid grid-cols-11 gap-x-6 mt-5 pb-20">
        <div class="intro-y col-span-11 2xl:col-span-9">

            <div class="intro-y box p-5 mt-5">
                <div class="border border-slate-200/60 rounded-md p-5">
                    <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Role</div>
                    <div class="mt-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="intro-y box p-5 mt-5">
                <div class="border border-slate-200/60 rounded-md p-5">
                    <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Assign PC </div>
                    <div class="mt-5">

                        <div class="form-check mr-2">
                            <input id="checkall" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="checkall">Check All</label>
                        </div>

                        <!-- <div class="grid grid-cols-5 gap-3 mt-5"> -->
                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Master Data</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <!-- <div>Authorize</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Server</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Plant</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Storage</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <!-- <div>List Problems</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Receipt</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 101</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 102</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Transfer</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 301</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 302</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 309</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 310</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 311</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 312</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 321</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 322</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 343</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 344</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type Z15</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 202</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Issue</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Load DP No.</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Display DP No.</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Scan DP Complete</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Send To Sap Complete</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Send To Sap Error</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Weight by DP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">DP Rewind</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Load Rewind No</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Rewind No</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View DP Detail</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Print DP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Receipt DP Rewind</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>DP Rewind Report</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>DP Rewind Receive</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Report</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Loading Efficientcy</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Import Stock SAP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Input Stock Count</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Stock SAP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Stock</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Receipt</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Issue</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Transfer</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="intro-y box p-5 mt-5">
                <div class="border border-slate-200/60 rounded-md p-5">
                    <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Assign PDA </div>
                    <div class="mt-5">

                        <div class="form-check mr-2">
                            <input id="checkall" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="checkall">Check All</label>
                        </div>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Master Data</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <!-- <div>Authorize</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Authorize</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Server</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Server</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Plant</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Plant</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <!-- <div>Storage</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete Storage</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <!-- <div>List Problems</div> -->
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Detail Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Edit List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Delete List Problems</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Receipt</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 101</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 102</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Transfer</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 301</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 302</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 309</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 310</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 311</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 312</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 321</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 322</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 343</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 344</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type Z15</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>

                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Movement Type 202</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Goods Issue</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Load DP No.</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Display DP No.</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Scan DP Complete</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Send To Sap Complete</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Send To Sap Error</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View Weight by DP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">DP Rewind</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Load Rewind No</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Create Rewind No</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>View DP Detail</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Print DP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Receipt DP Rewind</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>DP Rewind Report</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>DP Rewind Receive</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="flex flex-col gap-3 mt-5">
                            <legend class="px-2">Report</legend>
                            <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-5 gap-3 mt-5">
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Loading Efficientcy</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Import Stock SAP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Input Stock Count</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Stock SAP</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Stock</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Receipt</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Issue</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                                <div class="border w-full p-3 rounded-lg zoom-in">
                                    <div class="form-check">
                                        <p>Report Goods Transfer</p>
                                        <input id="" class="form-check-input ml-auto" type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="flex justify-end flex-col md:flex-row gap-2 mt-5">
                <a href="/role" class="btn py-3 border-slate-300 dark:border-darkmode-400 text-slate-500 w-full md:w-52">Cancel</a>
                <button type="button" class="btn py-3 btn-primary w-full md:w-52">Save</button>
            </div>
        </div>
    </div>
</div>