@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href=""><p class="navigate-text">Goods Issue</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 pt-2">
    <a href="/goodsissue/gidpalreadyscan" class="btn-menu">
        <p class="mb-0">Select DP Already for Scan</p>
        <i class="fa fa-chevron-right"></i>
    </a>
    <a href="/goodsissue/gi" class="btn-menu">
        <p class="mb-0">Goods Issue</p>
        <i class="fa fa-chevron-right"></i>
    </a>
    <a href="/goodsissue/viewstatus" class="btn-menu">
        <p class="mb-0">View Weight by DP</p>
        <i class="fa fa-chevron-right"></i>
    </a>
    <a href="~/mainmenu" class="btn-menu bg-grey">
        <p class="mb-0">Back to Main Menu</p>
    </a>
</div>