@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="#"><p class="navigate-text">Goods Transfer</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 mt-4">
    <form action="">
        <div class="row g-3 mb-0 align-items-center text-start">
            <div class="col-4">
                <label for="id" class="font-size-75">ID</label>
            </div>
            <div class="col-8">
                <input type="text" id="id" class="form-control form-control-22" placeholder="2" disabled>
            </div>
            <div class="col-4">
                <label for="from" class="font-size-75">From</label>
            </div>
            <div class="col-8">
                <input type="text" id="from" class="form-control form-control-22" placeholder="1" disabled>
            </div>
            <div class="col-4">
                <label for="problem" class="font-size-75">Problem</label>
            </div>
            <div class="col-8">
                <input type="text" id="problem" class="form-control form-control-22" placeholder="Rewind ลูกค้า" disabled>
            </div>
            <div class="col-4">
                <label for="clearText" class="font-size-75">Clear Text</label>
            </div>
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxClearText">
                    <label class="form-check-label" for="flexCheckDefault">
                        Clear Text
                    </label>
                </div>
            </div>
            <div class="col-4">
                <label for="uom" class="font-size-75">UOM</label>
            </div>
            <div class="col-8">
                <div class="row mx-0 g-0">
                    <div class="col-6 form-check my-1 ">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label font-size-75" for="exampleRadios1">
                            Roll
                        </label>
                    </div>
                    <div class="col-6 form-check my-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label font-size-75" for="exampleRadios2">
                            Ream
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label for="batch" class="font-size-75">Batch</label>
            </div>
            <div class="col-8">
                <input type="text" id="batch" class="form-control form-control-22">
            </div>
        </div>



        <div class="row my-4 mx-0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Batch</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Material</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>118A07708A</td>
                        <td>1.280</td>
                        <td>Z02CA-150D1690117N</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>RecordCount : 1</p>

        <div class="row g-3 mx-0 text-center justify-content-between pb-4">
            <a href="#" class="col-4 btn-col-4 btn-blue">
                <button type="button" class="btn-blue" style="padding:0px;">Send to SAP</button>
            </a>
            <a href="#" class="col-4 btn-col-4 btn-red">
                <button type="button" class="btn-red ">Clear</button>
            </a>
            <a href="/goodstransfer/mvt" class="col-4 btn-col-4 btn-black">
                <button type="button" class="btn-black">Back</button>
            </a>
        </div>

    </form>

</div>