@page
@{
}

<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        Import Stock SAP
    </h2>

    <div class="grid grid-cols-12 gap-6 mt-5">

        <div class="intro-y box col-span-12 p-5 mt-5">
            <div class="border border-slate-200/60 rounded-md p-5">
                <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Load Data Warehouse</div>
                <div class="mt-5">

                    <div class="intro-y flex flex-wrap gap-5 md:border p-5">
                        <div>
                            <label for="" class="form-label">Load Lastese Date/Time</label>
                            <input id="" type="text" class="form-control" placeholder="">
                        </div>

                        <div>
                            <label for="" class="form-label">IP Adress</label>
                            <input id="" type="text" class="form-control" placeholder="">
                        </div>

                        <div>
                            <label for="" class="form-label">User Name</label>
                            <input id="" type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="mt-5">
                        <label for="" class="form-label">File Name</label>
                        <form data-single="true" action="/file-upload" class="dropzone">
                            <div class="fallback"> <input name="file" type="file" /> </div>
                            <div class="dz-message" data-dz-message>
                                <div class="text-lg font-medium">Drop files here or click to upload.</div>
                                <div class="text-slate-500"> This is just a demo dropzone. Selected files are <span class="font-medium">not</span> actually uploaded. </div>
                            </div>
                        </form>
                        <!-- <button class="btn btn-primary self-end">Import File</button> -->
                    </div>

                    <div class="mt-5">
                        <label>Import Type</label>
                        <div class="flex flex-col sm:flex-row mt-2">
                            <div class="form-check mr-2">
                                <input id="radio-switch-4" class="form-check-input" type="radio" name="import-type" value="">
                                <label class="form-check-label" for="radio-switch-4">Replace All Data</label>
                            </div>
                            <div class="form-check mr-2 mt-2 sm:mt-0">
                                <input id="" class="form-check-input" type="radio" name="import-type" value="">
                                <label class="form-check-label" for="">Append Data</label>
                            </div>
                        </div>
                    </div>

                    <p class="text-danger mt-5">** Please select "Show Blocked stock" when export batch count stock **</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-end flex-col md:flex-row gap-2 mt-5">
        <!-- <button type="button" class="btn py-3 border-slate-300 text-slate-500 w-full md:w-52">Reset</button> -->
        <button type="button" class="btn py-3 btn-primary w-full md:w-52">Import</button>
    </div>
    <!-- END: Content -->
</div>