@page
@{
}

<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        Report Goods Receipt by Material
    </h2>

    <div class="grid grid-cols-12 gap-6 mt-5">

        <div class="intro-y box col-span-12 p-5 mt-5">
            <div class="border border-slate-200/60 rounded-md p-5">
                <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Search</div>
                <div class="mt-5">

                    <div class="flex flex-wrap gap-6">

                        <div class="">
                            <label for="plant" class="form-label">Date</label>
                            <input type="text" class="datepicker form-control" data-single-mode="true">
                        </div>

                        <div class="self-end">
                            <button class="btn btn-primary mr-2">Search</button>
                            <button class="btn btn-secondary ">View PDF</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="intro-y box col-span-12 p-5 mt-5">
            <div class="border border-slate-200/60 rounded-md p-5">
                <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Result</div>
                <div class="mt-5">

                    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn px-2  shadow-lg" aria-expanded="false" data-tw-toggle="dropdown">
                                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-lucide="plus"></i> </span>
                            </button>
                            <div class="dropdown-menu w-40">
                                <ul class="dropdown-content">
                                    <li>
                                        <a href="" class="dropdown-item"> <i data-lucide="copy" class="w-4 h-4 mr-2"></i> Copy </a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item"> <i data-lucide="printer" class="w-4 h-4 mr-2"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to Excel </a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to CSV </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-auto">
                            <div class="w-56 relative text-slate-500 shadow-md">
                                <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                                <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x-auto max-h-[500px] mt-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap uppercase">date</th>
                                    <th class="text-center whitespace-nowrap uppercase">material</th>
                                    <th class="text-center whitespace-nowrap uppercase">qty</th>
                                    <th class="text-center whitespace-nowrap uppercase">weight(ton)</th>
                                    <th class="text-center whitespace-nowrap uppercase">Plant</th>
                                    <th class="text-center whitespace-nowrap uppercase">Storage</th>
                                    <th class="text-center whitespace-nowrap uppercase">user</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02TA-230D1390117N</td>
                                    <td class="text-center">2</td>
                                    <td class="text-center">2.505</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02TA-185D1390117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.336</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02TI-150D1490117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.413</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02KI-150D1230117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.419</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02KI-150D1490117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.567</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02KI-125D1440117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.644</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02TI-150D1330117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.721</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                                <tr>
                                    <td class="text-center">31/8/2023</td>
                                    <td class="text-center">Z02TI-185D1280117N</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1.798</td>
                                    <td class="text-center">7521</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">Somphopy</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right uppercase">sum</td>
                                    <td class="text-right">9</td>
                                    <td class="text-right">13.403</td>
                                    <td colspan="3"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>





</div>