<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCGP</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SCGP.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
  </head>
<body class="py-5 md:py-0">
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
                <img alt="Midone - HTML Admin Template" class="w-48" src="~/images/SCGP_Primary_Logo-02.png">
            </a>
            <a href="javascript:;" id="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 transform -rotate-90"></i> </a>
        </div>
        <ul class="border-t border-white/[0.08] py-5 hidden">
            <li>
                <a href="index.php" class="menu">
                    <div class="menu__icon"> <i data-lucide="home"></i> </div>
                    <div class="menu__title"> Home </div>
                </a>
            </li>

            <li>
                <a href="javascript:;.html" class="menu">
                    <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                    <div class="menu__title">
                        Master Data
                        <div class="menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="authorize.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Authorize</div>
                        </a>
                    </li>
                    <li>
                        <a href="role-management.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Role Management</div>
                        </a>
                    </li>

                    <li>
                        <a href="server.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Server</div>
                        </a>
                    </li>
                    <li>
                        <a href="plant.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Plant</div>
                        </a>
                    </li>
                    <li>
                        <a href="storage.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> Storage</div>
                        </a>
                    </li>
                    <li>
                        <a href="list-problems.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="settings"></i> </div>
                            <div class="menu__title"> List Problems</div>
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="javascript:;.html" class="menu">
                    <div class="menu__icon"> <i data-lucide="plus"></i> </div>
                    <div class="menu__title">
                        Goods Receipt
                        <div class="menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="goods-receipt-product.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="plus"></i> </div>
                            <div class="menu__title"> Goods Receipt Products</div>
                        </a>
                    </li>
                    <li>
                        <a href="goods-receipt-for-po.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="plus"></i> </div>
                            <div class="menu__title"> Goods Receipt for PO</div>
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="goods-transfer.php" class="menu">
                    <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                    <div class="menu__title">Goods Transfer</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-lucide="archive"></i> </div>
                    <div class="menu__title">
                        Goods Issue
                        <div class="menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="load-dp.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> Load DP No. </div>
                        </a>
                    </li>
                    <li>
                        <a href="display-dp.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> Display DP No. </div>
                        </a>
                    </li>
                    <li>
                        <a href="scan-dp-complete.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> Scan DP Complete </div>
                        </a>
                    </li>
                    <li>
                        <a href="send-to-sap-complete.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> Send to SAP Complete </div>
                        </a>
                    </li>
                    <li>
                        <a href="send-to-sap-error.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> Send to SAP Error </div>
                        </a>
                    </li>
                    <li>
                        <a href="view-weight.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="repeat"></i> </div>
                            <div class="menu__title"> View Weight by DP </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                    <div class="menu__title">
                        DP Rewind
                        <div class="menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="load-rewind-no.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> Load Rewind No. </div>
                        </a>
                    </li>
                    <li>
                        <a href="create-rewind-no.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> Create Rewind No. </div>
                        </a>
                    </li>
                    <li>
                        <a href="view-dp-detail.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> View DP Detail</div>
                        </a>
                    </li>
                    <li>
                        <a href="print-dp.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> Print DP</div>
                        </a>
                    </li>
                    <li>
                        <a href="dp-rewind-report.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> DP Rewind Report</div>
                        </a>
                    </li>
                    <li>
                        <a href="dp-rewind-receive.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="rewind"></i> </div>
                            <div class="menu__title"> DP Rewind Reciept</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                    <div class="menu__title">
                        Report
                        <div class="menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
                <ul class="">
                    <li>
                        <a href="import-stock-sap.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Import Stock SAP </div>
                        </a>
                    </li>
                    <li>
                        <a href="check-stock-sap.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Check Stock SAP </div>
                        </a>
                    </li>
                    <li>
                        <a href="input-stock-count.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Input Stock Count </div>
                        </a>
                    </li>
                    <li>
                        <a href="report-stock-sap-barcode.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Stock SAP - Barcode</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-stock-count-diff.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Stock Count Diff</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-stock-count-grade-size.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Stock Count By Grade, Size</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-stock-count-section.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Stock Count By Section</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-gr-by-batch.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Goods Receipt by Batch </div>
                        </a>
                    </li>
                    <li>
                        <a href="report-gr-by-material.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Goods Receipt by Material</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-gi-by-batch.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Goods Issue by Batch</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-gi-by-material.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Goods Issue by Material</div>
                        </a>
                    </li>
                    <li>
                        <a href="report-gt-by-batch.php" class="menu">
                            <div class="menu__icon"> <i data-lucide="file-text"></i> </div>
                            <div class="menu__title"> Report Goods Transfer by Batch</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="top-bar-boxed h-[70px] md:h-[65px] z-[51] border-b border-white/[0.08] -mt-7 md:mt-0 -mx-3 sm:-mx-8 md:-mx-0 px-3 md:border-b-0 relative md:fixed md:inset-x-0 md:top-0 sm:px-8 md:px-10 md:pt-10 md:bg-gradient-to-b md:from-slate-100 md:to-transparent dark:md:from-darkmode-700">
        <div class="h-full flex items-center">
            <!-- BEGIN: Logo -->
            <a href="" class="logo -intro-x hidden md:flex xl:w-[180px] block">
                <img alt="Midone - HTML Admin Template" class="logo__image w-52" src="~/images/SCGP_Primary_Logo-02.png">
                <!-- <span class="logo__text text-white text-lg ml-3"> Enigma </span>  -->
            </a>
            <!-- END: Logo -->
            <!-- BEGIN: Breadcrumb -->
            <nav aria-label="breadcrumb" class="-intro-x h-[45px] mr-auto">
                <ol class="breadcrumb breadcrumb-light">
                    <li class="breadcrumb-item"><a href="#">Application</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <!-- END: Breadcrumb -->


            <div class="intro-x text-primary md:text-white font-bold  mr-5">
                <div>PM : <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#set-pm-modal" class="underline underline-offset-4">PM 16</a></div>
            </div>

            <div class="intro-x text-primary md:text-white font-bold mr-5">
                <div>Plant : <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#set-plant-modal" class="underline underline-offset-4">7550</a></div>
            </div>


            <!-- BEGIN: Account Menu -->
            <div class="intro-x dropdown w-8 h-8">
                <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                    <img alt="Midone - HTML Admin Template" src="~/images/profile-10.jpg">
                </div>
                <div class="dropdown-menu w-56">
                    <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
                        <li class="p-2">
                            <div class="font-medium">Arnold Schwarzenegger</div>
                            <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">Software Engineer</div>
                        </li>
                        <li>
                            <hr class="dropdown-divider border-white/[0.08]">
                        </li>
                        <li>
                            <a href="/login" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END: Account Menu -->
        </div>
    </div>

    <div id="set-pm-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h2 class="text-white font-medium text-base mr-auto">PM</h2>
                </div>
                <div class="modal-body p-10 ">
                    <div class="form-inline mt-5">
                        <label for="" class="form-label">PM</label>
                        <select class="form-control" aria-label="">
                            <option>PM 1-3</option>
                            <option>PM 16</option>
                            <option>PM 4-7</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-20">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="set-plant-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h2 class="text-white font-medium text-base mr-auto">Plant</h2>
                </div>
                <div class="modal-body p-10 ">
                    <div class="form-inline mt-5">
                        <label for="" class="form-label">Plant</label>
                        <select class="form-control" aria-label="">
                            <option>7521 : SKBP</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-20">Save</button>
                </div>
            </div>
        </div>
    </div>

   


    <div class="flex overflow-hidden">
        <nav class="side-nav">
            <ul>
                <li>
                    <a href="/home" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="home"></i> </div>
                        <div class="side-menu__title"> Home </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                        <div class="side-menu__title">
                            Master Data
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="/authorize" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> Authorize</div>
                            </a>
                        </li>
                        <li>
                            <a href="/role" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> Role Management</div>
                            </a>
                        </li>

                        <li>
                            <a href="/server" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> Server</div>
                            </a>
                        </li>
                        <li>
                            <a href="/plant" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> Plant</div>
                            </a>
                        </li>
                        <li>
                            <a href="/storage" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> Storage</div>
                            </a>
                        </li>
                        <li>
                            <a href="/problems" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title"> List Problems</div>
                            </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="javascript:;.html" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="plus"></i> </div>
                        <div class="side-menu__title">
                            Goods Receipt
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="/goodsreceiptproduction" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="plus"></i> </div>
                                <div class="side-menu__title"> Goods Receipt Production</div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsreceiptforpo" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="plus"></i> </div>
                                <div class="side-menu__title"> Goods Receipt for PO</div>
                            </a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="/goodstransfer" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                        <div class="side-menu__title">Goods Transfer</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="archive"></i> </div>
                        <div class="side-menu__title">
                            Goods Issue
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="/goodsissue/loaddp" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> Load DP No. </div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsissue/displaydp" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> Display DP No. </div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsissue/scandpcomplete" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> Scan DP Complete </div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsissue/sendtosapcomplete" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> Send to SAP Complete </div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsissue/sendtosaperror" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> Send to SAP Error </div>
                            </a>
                        </li>
                        <li>
                            <a href="/goodsissue/viewweight" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="repeat"></i> </div>
                                <div class="side-menu__title"> View Weight by DP </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                        <div class="side-menu__title">
                            DP Rewind
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="/dprewind/loadrewind" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> Load Rewind No. </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dprewind/createrewind" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> Create Rewind No. </div>
                            </a>
                        </li>
                        <li>
                            <a href="/dprewind/viewdp" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> View DP Detail</div>
                            </a>
                        </li>
                        <li>
                            <a href="/dprewind/printdp" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> Print DP</div>
                            </a>
                        </li>
                        <li>
                            <a href="/dprewind/dprewindreport" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> DP Rewind Report</div>
                            </a>
                        </li>
                        <li>
                            <a href="/dprewind/dprewindreciept" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="rewind"></i> </div>
                                <div class="side-menu__title"> DP Rewind Reciept</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                        <div class="side-menu__title">
                            Report
                            <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="/report/importstock" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Import Stock SAP </div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/checkstock" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Check Stock SAP </div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/inputstock" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Input Stock Count </div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportstocksapbarcode" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Stock SAP - Barcode</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportstockcountdiff" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Stock Count Diff</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportstockcountbygradesize" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Stock Count By Grade, Size</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportstockcountsection" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Stock Count By Section</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportgoodsreceiptbybatch" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Goods Receipt by Batch </div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportgoodsreceiptbymaterial" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Goods Receipt by Material</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportgoodsissuebybatch" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Goods Issue by Batch</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportgoodsissuebymaterial" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Goods Issue by Material</div>
                            </a>
                        </li>
                        <li>
                            <a href="/report/reportgoodstransferbybatch" class="side-menu">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Report Goods Transfer by Batch</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </div>


    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>*@
    <script src="~/js/app.js"></script>
    <script src="~/js/custom-script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

