@page
@{
}

<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        Goods Transfer
    </h2>

    <div class="grid grid-cols-12 gap-6 mt-5">

        <div class="intro-y box col-span-12 p-5 mt-5">
            <div class="border border-slate-200/60 rounded-md p-5">
                <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Goods Transfer</div>
                <div class="mt-5">

                    <div class="intro-y flex flex-wrap gap-5">
                        <div>
                            <label for="rewind-no" class="form-label">Movement Type</label>
                            <select data-placeholder="" class="form-control tom-select w-52" id="movement-select">
                                <option selected disabled>Select</option>
                                <option value="301">301 - ย้ายระหว่าง Plant</option>
                                <option value="302">302 - Re-ย้ายระหว่าง Plant</option>
                                <option value="309">309 - เปลี่ยน Material</option>
                                <option value="310">310 - Re-เปลี่ยน Material</option>
                                <option value="311">311 - ย้าย Storage</option>
                                <option value="312">312 - Re-ย้าย Storage</option>
                                <option value="321">321 - QI > UR</option>
                                <option value="322">322 - UR > QI</option>
                                <option value="343">343 - BL > UR</option>
                                <option value="344">344 - UR > BL</option>
                                <option value="z15">Z15 - เบิก Rewind</option>
                                <option value="202">202 - รับ Rewind</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="301">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 301</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="301 - ย้ายระหว่าง Plant" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="302">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 302</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="302 - Re-ย้ายระหว่าง Plant" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="309">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 309</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="309 - เปลี่ยน Material" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PI No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">EO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="310">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 310</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="310 - Re-เปลี่ยน Material" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PI No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">EO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="311">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 311</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="311 - ย้าย Storage" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="312">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 312</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="312 - Re-ย้าย Storage" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="321">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 321</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="321 - QI > UR" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="322">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 322</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="322 - UR > QI" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="343">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 343</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="343 - BL > UR" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="344">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 344</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="344 - UR > BL" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">To Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="z15">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form Z15</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="Z15 - เบิก Rewind" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PI No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">EO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="202">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 202</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <input type="text" class="form-control" value="202 - รับ Rewind" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Plant</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage</label>
                        <select class="form-control">
                            <option selected>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Text</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Unit</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PI No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">EO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="flex justify-end flex-col md:flex-row gap-2 mt-5" id="btn-general">
        <button type="button" class="btn py-3 btn-primary w-full md:w-52">OK</button>
    </div>

</div>