@page
@{
}

<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        Goods Transfer
    </h2>

    <div class="grid grid-cols-12 gap-6 mt-5">

        <div class="intro-y box col-span-12 p-5 mt-5">
            <div class="border border-slate-200/60 rounded-md p-5">
                <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Goods Transfer</div>
                <div class="mt-5">

                    <div class="intro-y flex flex-wrap gap-5">
                        <div>
                            <label for="rewind-no" class="form-label">Movement Type</label>
                            <select data-placeholder="" class="form-control tom-select w-52" id="movement-select">
                                <option selected disabled>Select</option>
                                <option value="101">101: </option>
                                <option value="102">102</option>
                                <option value="521">521</option>
                                <option value="522">522</option>
                                <option value="201">201</option>
                                <option value="202">202</option>
                                <option value="909">909</option>
                                <option value="910">910</option>
                                <option value="301">301</option>
                                <option value="302">302</option>
                                <option value="309">309</option>
                                <option value="310">310</option>
                                <option value="311">311</option>
                                <option value="312">312</option>
                                <option value="321">321</option>
                                <option value="322">322</option>
                                <option value="323">323</option>
                                <option value="324">324</option>
                                <option value="343">343</option>
                                <option value="344">344</option>
                                <option value="321qi">321 QI to UR</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="101">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 101</div>
            <div class="mt-5">
                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>101</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type Indicator</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PO Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="102">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 102</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>102</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type Indicator</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PO No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">PO Item</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="521">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 521</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>521</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Date for Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">SQM Conversion</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="522">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 522</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>522</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Date for Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">SQM Conversion</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="201">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 201</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>201</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="202">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 202</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>202</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Cost Center</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="909">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 909</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>909</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">G/L No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="910">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 910</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>910</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">G/L No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="301">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 301</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>301</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Plant</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="302">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 302</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>302</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Plant</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="309">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 309</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>309</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Plant</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="310">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 310</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>310</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Material No.</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Plant</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Contract No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Export Order No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Length</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Diameter</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Container Item</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Roll Batch</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="311">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 311</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>311</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="312">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 312</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>312</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="321">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 321</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>321</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="322">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 322</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>322</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="323">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 323</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>323</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="324">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 324</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>324</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="343">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 343</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>343</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="344">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 344</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Movement Type</label>
                        <select class="form-control" disabled>
                            <option selected>344</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Material No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">From Plant</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Storage From</label>
                        <select class="form-control" disabled>
                            <option selected disabled>Select</option>
                        </select>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Item Text</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Batch No.</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Receiving Storage Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Quantity</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="col-span-12 md:col-span-4">
                        <label class="form-label">Entry Unit</label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box col-span-12 p-5 mt-5 movement-form hidden" id="321qi">
        <div class="border border-slate-200/60 rounded-md p-5">
            <div class="font-medium text-base flex items-center border-b border-slate-200/60 pb-5">Form 321 QI to UR</div>
            <div class="mt-5">

                <div class="grid grid-cols-12 gap-5">

                    <div class="col-span-12 md:col-span-6">
                        <label class="form-label">ID</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-6">
                        <label class="form-label">From</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-span-12 md:col-span-6">
                        <label class="form-label">Problem</label>
                        <div class="form-check mt-2">
                            <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="checkbox-switch-1">Clear Text</label>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-6">
                        <div>
                            <label>UOM</label>
                            <div class="flex flex-row mt-2">
                                <div class="form-check mr-2">
                                    <input id="radio-switch-4" class="form-check-input" type="radio" name="horizontal_radio_button" value="horizontal-radio-chris-evans">
                                    <label class="form-check-label" for="radio-switch-4">Roll</label>
                                </div>
                                <div class="form-check mr-2 mt-2 sm:mt-0">
                                    <input id="radio-switch-5" class="form-check-input" type="radio" name="horizontal_radio_button" value="horizontal-radio-liam-neeson">
                                    <label class="form-check-label" for="radio-switch-5">Ream</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-6">
                        <label class="form-label">Batch</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-span-12">
                        <div class="overflow-x-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="whitespace-nowrap">Batch</th>
                                        <th class="whitespace-nowrap">Qty</th>
                                        <th class="whitespace-nowrap">Material</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>118A07708A</td>
                                        <td>1.280</td>
                                        <td>Z02CA-150D1690117N</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-end flex-col md:flex-row gap-2 mt-5" id="btn-general">
        <button type="button" class="btn py-3 border-slate-300 text-slate-500 w-full md:w-52">Cancel</button>
        <button type="button" class="btn py-3 btn-primary w-full md:w-52">OK</button>
    </div>

    <div class="flex justify-end flex-col md:flex-row gap-2 mt-5 hidden" id="btn-321qi">
        <button type="button" class="btn py-3 border-slate-300 text-slate-500 w-full md:w-52">Cancel</button>
        <button type="button" class="btn py-3 btn-pending w-full md:w-52">Clear</button>
        <button type="button" class="btn py-3 btn-primary w-full md:w-52">Send to SAP</button>
    </div>

</div>